.App {
  margin: 40px auto;
  max-width: 1000px;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

div,
footer {
  font-family: "Lato", sans-serif;
}
footer a {
  text-decoration: none;
  color: rgb(33, 37, 41);
}
footer a:hover {
  color: #396eb0;
}
