.Clock .Clock-title {
  color: white;
  font-size: 48px;
  margin-bottom: 40px;
}

.Clock section {
  background: black;
  border-radius: 6px;
  padding: 30px;
}
.Clock .form-control {
  padding: 22px;
  line-height: 18px;
}
.Clock .btn {
  border: none;
  background-color: #0d7377;
  transition: all 200ms ease-in-out;
}
.Clock .btn-primary:hover {
  background-color: #396eb0;
}
