.Result {
  padding: 50px 0px;
  margin: 25px 0px;
  border-radius: 6px;
  color: white;
}
.Result .time-info {
  margin: 0px 200px;
  border-radius: 6px;
}
.Result .main-output {
  font-size: 60px;
  font-weight: 700;
}

.Result .additional-info {
  font-size: 20px;
  margin: 50px 0px 0px;
}
