.Result {
  padding: 20px 0px;
  margin: 25px 0px;
  border-radius: 6px;
  color: white;
}
.Result .time-output {
  font-size: 50px;
  font-weight: 700;
}
.Result .gmt {
  font-size: 20px;
}
.Result .additional-info {
  margin: 30px;
  font-size: 20px;
}
.Result .location-box,
.date-box,
.timezone-box {
  background-color: #ffe4e4;
  margin: 0px 15px;
  padding: 15px 0px 15px 0px;
  color: black;
  border-radius: 6px;
}
