.Result {
  padding: 30px 0px;
  margin: 50px 0px;
  color: white;
  font-size: 20px;
}
.Result .time-info {
  padding: 30px;
  border: 1px solid #ced4da;

  box-shadow: 4px 4px 10px #4c4c6d;
  border-radius: 36px;
  font-size: 50px;
  font-weight: 700;
}

hr {
  margin: 60px 0px;
  border-top: 1px solid #ced4da;
}
@media (max-width: 576px) {
  .Result {
    font-size: 16px;
  }
  .Result .time-info,
  .Clock .Clock-title {
    font-size: 38px;
  }
  .img-fluid-location {
    max-width: 66px;
  }
}
